[program:inertia-ssr]
process_name=%(program_name)s
command=php /var/www/ido-style/artisan inertia:start-ssr
directory=/var/www/ido-style
autostart=true
autorestart=true
user=laradock
numprocs=1
redirect_stderr=true
stdout_logfile=/var/www/ido-style/storage/logs/inertia-ssr.log
stopwaitsecs=10
